*{
	margin: 0;
	padding: 0;
}
.alltop
{
  background-color: black ;
  color: white;
}
.nameadmin
{
  display: flex;
  align-items: center;
  font-size: 26px;
  margin: 0px 0px 0px 80px;
  padding: 20px;
}
.top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topright
{
  display: flex;
  align-items: center;
  margin: 0px 50px 0px 40px;
}
.plus
{
font-size: 20px;
color: black;
}
.searchspace
{
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 50px;
}
.buttonsearch
{
  height: 23px;
  width: 20px;
  color: black;
}
.inputsearch
{
  height: 24px;
  color: black;
}
img {
  width : 1200px;
  height : 316px;
  }
.middle
{
  display: flex;
  margin: 20px 0px ;
}
.table
{
  margin: 0px 0px 0px 50px;
  
}
.Image
{
  margin: 0px 0px 0px 20px;
}
.tab
{
 margin: 7px;
 display: flex;
}
.card
{
/* display: grid;
width: 80em;
grid-gap: 1em; */
border-style: inset;
width: 300px;

color: white;
/* align-items: start ; */
}
.imageprop
{
  width : 280px;
  height: 280px;
  padding: 0px 0px 0px 10px;

}
.cardimage
{
  width: 100%;
  height: 100%;
  object-fit:contain;

  /* object-position: center center; */
}
.prix
{
  display: flex;

  align-items: center;
  
}
.allbas
{
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 0px 0px;
}
.name
{
  margin: 0px 0px 0px 5px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.modale
{
  margin: 20px;
}
.inputs
{
  margin: 20px;
}
.card,.name
{
  text-align: center;
  margin: 20px 0px;
  color: white;
}
.description
{
  color: white;
}
.rate
{
  margin: 5px 0px 10px 0px;
}
